.App {
  background-color: #f6f6f6;
  width: 100%;
  transition: 0.3s linear;
  padding: 20px 0;
}
.table-container {
  padding: 0 20px;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

td,
th {
  border: 1px solid rgba(153, 0, 0, 0.226);
  text-align: left;
  padding: 8px;
}
tr {
  font-size: 0.9rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.filter-container {
  margin: 0 0 15px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.filter-wrapper {
  min-width: 100px;
  margin: 8px;
  flex: 1;
}
.SubscribersHeader {
  padding: 8px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.btn-loadmore {
  padding: 8px 10px;
  outline: none;
  border: none;
  background-color: rgba(153, 0, 0, 0.788);
  color: #f6f6f6;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  /* margin-right: 20px; */
  display: block;
  float: right;
  width: 100%;
}
.subscription-modal {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(197, 37, 37, 0.904);
  color: #f4f4f4;
  font-size: 1.3rem;
}
.card-container {
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  justify-content: center;
}
.card-wrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}
.card {
  min-width: 250px;
  background-color: #f6f6f6;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}

.btn-modal {
  outline: none;
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
}
